html {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
}
.container {
  background: hsl(0, 40%, 90%);
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

/* for mobile */
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 14px;
  }
}

/* top bar */
header {
  grid-area: header;
  background: hsla(200, 30%, 90%, 0.97);
  padding: 1rem;

  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "headerName topButton articleButton moreInfoButton";
}



.header-name {grid-area: headerName;}
#nav-top{grid-area: topButton;}
#nav-article{grid-area: articleButton;}
#nav-more-info{grid-area: moreInfoButton;}

header .img-container {
  grid-area: companylogo;
  height: 3rem;
  overflow: hidden;
  margin: auto 10px;
}

header img {
  width: auto;
  height: 100%;
}

header .nav a {
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  background-clip: padding-box;
  border:hsl(150, 20%, 50%) 3px solid;
  border-radius: 10px;
  padding: 1rem;
}

header .nav a:visited {
  text-decoration: none;
  color: black;
}

header .nav a:hover {
	background-color: hsl(150, 20%, 50%);
  color: white;
}

/* main section */
#heading {
  margin: 40px 0;
}

h1 {
  font-size: 3.5rem;
  font-family: helvetica;
  color: black;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: helvetica;
  color: hsl(200, 20%, 20%);
  text-align: center;
}

figure#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 15%;
}

figure #main-image {
  width: 100%;
  max-width: 960px;
  height: auto;
  border-radius: 40px;
  margin: 0 auto;
}

figcaption {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  margin: 0 auto;
  width: 90%;
}

article {
  margin: 40px 15%;
}

p {
  line-height:1.5em;
  color: black;
  font-size: 1.2rem;
}

#summary {
  border: hsl(200, 20%, 40%) 5px solid;
  border-radius: 2rem;
  width: 60%;
  margin: 1rem auto;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.6rem;
}

#summary li {
  font-size: 1.2rem;
}

.twoImageContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.twoImageContainer img {
  height: auto;
  width: 40%;
  justify-content: center;
}

/* footer */
footer {
  background: hsla(200, 20%, 85%, 0.95);
  margin: 40px 0;
}

.footerText {
  width: 80%;
  margin: 0 auto;
}

footer p {
  text-align: left;
  margin: 0 40px;
}

footer h3 {
  text-align: right;
  font-size: 20px;
  margin: 0 40px;
}